name: Build with pyInstaller

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup uv
      uses: astral-sh/setup-uv@v6
      with:
        activate-environment: true
        python-version: "3.12"

    - name: Install dependencies
      run: |
        uv sync --dev
      shell: pwsh

    - name: Build with PyInstaller
      run: |
        uv run nuitka --mode=standalone .\bongocat.py --enable-plugin=tk-inter --windows-console-mode=disable --windows-icon-from-ico=.\idle.ico --lto=no
      shell: pwsh

    - name: Get SHA256
      run: Get-FileHash -Algorithm SHA256 -Path ./bongocat.dist/bongocat.exe | Select-Object -ExpandProperty Hash
      shell: pwsh

    - name: Upload Executable
      uses: actions/upload-artifact@v4
      with:
        name: bongo-cat
        path: bongocat.dist
        retention-days: 30
